@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkDesaturatedCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --darkModerateCyan: hsl(168, 34%, 41%);
  --white: hsl(0, 0%, 100%);
  --grayishBlue: hsl(210, 4%, 67%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
  --barlow: "Barlow", sans-serif;
  --fraunces: "Fraunces", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.nav-btn{
    background-color: red;
    padding: 1rem;
    border-radius: 40%;
    color: white;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 50

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    background-image: url(./images/desktop/image-header.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.sample{
    background-color: red;
}
.logo img{
    width: 9rem;
}
.grid-5{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
.grid-6{
    background-image: url(./images/desktop/image-photography.jpg);
    min-height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    position: relative;
}
.menu-links{
    display: flex;
    gap: 1.5rem;

}
.close-btn{
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--grayishBlue);
    display: none;

}
.menu-toggle{
   display: none;
}

@media screen and (max-width: 641px) {
    .menu-toggle{
        display: block;
    }
    .menu-links{
        display: none;
    }
    .close-container{

    }
    .close-btn{
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
        color: var(--grayishBlue);
        display: block;
        padding: 0;
    
    }
    .menu-links.active{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        z-index: 50;
        justify-content: center;
        padding: 2.8rem;
        align-items: center;
    }
    .menu-links.active::after{
        content: "";
        width: 0;
        height: 0;
        border-top: solid transparent 1.6rem;
        border-bottom: solid transparent 1.6rem;
        border-left: solid transparent 1.6rem;
        border-right: solid white 1.6rem;
        position: absolute;
        right: 0;
        top: -1.5rem;
    }
    .menu-links.active .contact{
        background-color: var(--yellow);
        color: black;
        width: 7rem;
    }
    .menu-links.active ul a {
        color: var(--darkGrayishBlue);
        font-weight: 600;
        font-size: 1rem;
    }
    .menu-links.active ul {
        display: flex;
        flex-direction: column; 
    }


}
.menu-toggle:hover{
    cursor: pointer;
    
}


.menu-links ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.menu-links ul a{
    color: var(--white);
    font-family: var(--barlow);
    font-size: small;
}
.contact{
    background-color: var(--white);
    color: black;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    border: none;
    text-transform: uppercase;
    font-family: var(--fraunces);
    font-weight: 1000;
    font-size: 11px;
    cursor: pointer;
}
.contact:hover{
    background-color: rgb(133, 218, 252);
    color: white;
}
.header-text{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -12%);
    align-items: center;
    display: flex;
    flex-direction: column;     
}
.header-text h2{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family: var(--fraunces);
    font-weight: 900;
    letter-spacing: 8px;
    margin-bottom: 4rem;

}
.grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-text{
    margin: auto;
    width: 73%;
   
}
.grid-5-text, .grid-6-text{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 375px;
   
}

.grid-1, .grid-4{
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.grid-text h3{
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--veryDarkDesaturatedBlue);
    margin-bottom: 1rem;
}
.grid-text p{
    font-family: var(--barlow);
    color: var(--grayishBlue);
    font-weight: 550;
    margin-bottom: 2.5rem;
    line-height: 25px;
    font-size: 0.95rem;
    letter-spacing: -0.5px;
}
.grid-5-text h3{
    font-family: var(--fraunces);
    font-size: 1.5rem;
    color: var(--darkDesaturatedCyan);
    font-weight: 900; 
    margin-bottom: 1.5rem;
}
.grid-6-text h3{
    font-family: var(--fraunces);
    font-size: 1.5rem;
    color: var(--darkBlue);
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.grid-5-text p{
    font-family: var(--barlow);
    color: var(--darkDesaturatedCyan);
    line-height: 25px;
    font-size: 0.85rem;
    font-weight: 700;
}
.grid-6-text p{
    font-family: var(--barlow);
    color: var(--darkBlue);
    line-height: 25px;
    font-size: 0.85rem;
    font-weight: 700;
}
.grid-text button{
    font-weight: 700;
    font-family: var(--fraunces);
    border: none;
    background-color: transparent;
    font-weight: 900;
    padding-bottom: -10px;
}
.grid-1 button{
    border-bottom: 6px solid var(--yellow);
    border-bottom-right-radius: 3px;
    
}
.grid-4 button{
    border-bottom: 6px solid var(--softRed);
    border-bottom-right-radius: 3px;
     
}
.client-testimonials{
    padding: 7rem 4rem;
   
}
.client-testimonials h4{
    color: var(--darkGrayishBlue);
    font-family: var(--fraunces);
    font-weight: 800;
    text-align: center;
    letter-spacing: 3.5px;
    font-size: 0.85rem;
}

.card-row{
    display: flex;
    padding-top: 4rem;
    column-gap: 25px;
    justify-content: center;
  
    
    
    
    
}
.image-container{
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;

    
   
}
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.card-row p{
   
    font-family: var(--barlow);
    font-weight: 600;
    color: var(--veryDarkGrayishBlue);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 2rem;
    

}
.card-div{
   
    text-align: center;
    flex-basis: 20rem; 
    justify-content: center;
}
.client-identity p{
    font-family: var(--fraunces);
    font-weight: 700;
    color: var(--veryDarkDesaturatedBlue);
    
}
.client-identity h6{
    font-family: var(--barlow);
    color: var(--grayishBlue);
    font-size: 0.7rem;
    margin-top: 0.5rem;
   
}
.client-identity{
    margin-top: 4rem;
    
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

}
.image-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    background-color: rgb(130, 224, 220);
    padding: 3rem;
}
footer h1{
    text-align: center;
    color: var(--darkDesaturatedCyan);
    font-family: var(--barlow);
    font-size: 1.5rem;
    font-weight: 900; 
}
footer ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1.9rem;
}
footer li a {
    color: var(--darkDesaturatedCyan);
    font-family: var(--barlow);
    font-size: small;
    font-weight: 600;
}
footer li a:hover{
    color: white;
}
.socials span:hover{
    cursor: pointer;
    color: white; 
}
.socials span{
    color: var(--darkDesaturatedCyan);
}
.socials{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 1.4rem
}
@media screen and (max-width: 768px) {
    .grid-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-1{
        order: 2;
    }
    .grid-2{
        order: 1;
    }
    .grid-3{
        order: 3;
    }
    .grid-4{
        order: 4;
    }
    .grid-5{
        order: 5;
    }
    .grid-6{
        order: 6;
    }
.card-row{
    flex-wrap: wrap;
    row-gap: 4rem;
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.client-testimonials{
    padding: 7rem 2.5rem;
   
}
.client-identity{
    margin-top: 2rem;
}

    nav{
        padding: 1.5rem 1.5rem;
    }
    .grid-1, .grid-4{
        text-align: center;
    }
}
@media screen and (max-width: 631px) {
    
    .header-text h2{
        font-size: 2.3rem;
    }

nav{
    padding: 1.5rem 1.5rem;
}

}


@media screen and (max-width: 594px) {
    
    .header-text h2{
        font-size: 2.3rem;
    }

nav{
    padding: 1.5rem 1.5rem;
}
.header-text{
    top: 35%;
    transform: translate(-50%, -32%);  
}
}

@media screen and (max-width: 480px) {
    
    .header-text h2{
        font-size: 2rem;
    }

    .grid-1, .grid-4{
        height: 500px;    
        text-align: center;
    }
    .grid-5-text, .grid-6-text{
        width: 80%;
        
       
    }
    .header-text{
        top: 35%;
        transform: translate(-50%, -32%);  
    }
    nav{
        padding: 1rem 1rem;
    }
    
}
